{% extends 'base.html' %} {% block content %}
<h2>Add a Pet</h2>
<form method="POST" action="{{ url_for('add_pet') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">{{ form.pet_name.label }} {{ form.pet_name() }}</div>
  <div class="form-group">{{ form.species.label }} {{ form.species() }}</div>
  <div class="form-group">
    {{ form.photo_url.label }} {{ form.photo_url() }}
  </div>
  <div class="form-group">{{ form.age.label }} {{ form.age() }}</div>
  <div class="form-group">{{ form.notes.label }} {{ form.notes() }}</div>
  <button type="submit" class="btn btn-primary">Add Pet</button>
</form>
{% endblock %}
